.button {  
  height: 2em;
  width: min-content;
  
  border-radius: 5px;
  border-color: var(--button-active-color, rgba(0, 0, 0, 0.636));

  font-size: 16px;
  text-transform: capitalize;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: rgb(226, 226, 226);
}

.button:disabled {
  border-color: var(--button-disabled-color, rgba(0, 0, 0, 0.121));
}


.select-button {
  --button-active-color: rgb(5, 5, 108);
}

.remove-button {
  --button-active-color: rgb(108, 5, 5);
}

.start-button {
  text-transform: uppercase;
  margin-left: 15px;
  --button-active-color: rgb(17, 196, 5);
}

.stop-button {
  text-transform: uppercase;
  --button-active-color: rgb(223, 10, 10);
}

@keyframes button-waiting {
  from {
    background-color: rgb(240, 240, 240);
  }
  to {
    background-color: rgb(222, 222, 222);
  }
}

.button_waiting {
  animation: button-waiting .7s infinite alternate;
}
