$special-color: #F1CDB3;
$special-color_light: #FDDCC4;
$color-light: #F6F6F6;
$color-light-x: #FFFFFF;
$color-dark: #545454;
$transition-time: 0.3s;
$mobile-breakpoint: 426px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    body {
        color: $color-dark;
        display: flex;
        flex-direction: column;
        height: 100%;
        .header {
            flex-shrink: 0;
        }
        .footer {
            flex-grow: 1;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}


@mixin section($bg-color...) {
    display: grid;
    grid-template-columns: 1fr;
    $padding-aside: clamp(10px, 3.90625%, 40px);
    padding: 80px $padding-aside 100px $padding-aside;
    justify-content: center;
    background: $bg-color;
    @media (width < $mobile-breakpoint) {
        padding-top: 42px;
        padding-bottom: 42px;
    }
}


.header {
    @include section(transparent);
    padding-top: 0;
    padding-bottom: 0;
    height: 90px;
    position: absolute;
    top: 0;
    width: 100%;
    color: $color-light-x;
    @media (width < $mobile-breakpoint) {
        padding-top: 30px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    @media (width < 768px) {
        padding-left: 10px;
        padding-right: 10px;
        .nav {
            display: none;
        }
        &::after {
            content: url('../assets/icons/burger.svg');
            margin-bottom: 19px;
            align-self: flex-end;
        }
    }
}

.logo {
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: end;

    &:hover .logo__title,
    &:hover .logo__subtitle {
        transition: $transition-time;
        color: $special-color-light;
    }

    &:active .logo__title,
    &:active .logo__subtitle {
        color: #FFFFFF;
    }
}

.logo__title {
    font: 32px/35px Georgia;
    letter-spacing: 0.06em;
    color: $special-color;
}

.logo__subtitle {
    font: 13px/15px Arial;
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    gap: 35px;
    align-items: end;
    padding-bottom: 17px;
}

.nav__item {
    @extend %paragraph-l;
    color: #CDCDCD;
    border-bottom: 3px solid transparent;
    transition: 
        color $transition-time,
        border-bottom-color $transition-time;
    &:hover {
        color: #FAFAFA;
    }
    &:active {
        border-bottom-color: $special-color;
    }
}

.nav__item_active {
    color: #FAFAFA;
    transition: none;
    border-bottom-color: $special-color;
}

.pets {
    .header {
        height: 120px;
        padding-bottom: 30px;
        position: static;
    }
    
    .logo__title, 
    .nav__item {
        color: $color-dark;
    }

    .logo__subtitle, 
    .nav__item:hover,
    .nav__item_active {
        color: #292929;
    }

    .logo:hover .logo__title,
    .logo:hover .logo__subtitle {
        transition: $transition-time;
        color: $special-color;
    }

    .logo:active .logo__title,
    .logo:active .logo__subtitle {
        color: #1A1A1C;
    }
}

.start-section {
    @include section(
        url("../assets/images/noise_transparent.png") repeat, 
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
        #211F20)
    ;
    min-height: 908px;
    @media (width < $mobile-breakpoint) {
        min-height: 823px;
    }
    padding-bottom: 0 !important;
    padding-top: 90px !important;
    color: $color-light-x;
}

.intro {
    // display: grid;
    // grid-template-columns: minmax(310px, 1fr) minmax(569px, 1fr);
    column-gap: 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 60px !important;

    @media (width < 1023px) {
        .button_filled {
            align-self: center;
        }
    }
}

.intro__content {
    // place-self: center;
    align-self: center;
    max-width: 460px;
    flex: 1 310px;
    margin: 0 auto 60px auto;

    display: flex;
    flex-direction: column;
    row-gap: 42px;

    @media (width < $mobile-breakpoint) {
        .paragraph-l {
            text-align: center;
            padding: 0;
        }
    }
}

.intro__img {
    // place-self: end end;

    // align-self: stretch;
    // max-height: 728px;
    margin-top: 30px;
    min-height: 593px;
    flex: 1 593px;
    // max-width: 698px;
    background: 
        url('../assets/images/start-screen-puppy.png') 
        bottom right / contain 
        no-repeat
    ;

    @media (width < $mobile-breakpoint) {
        min-height: 271.77px;
    }
}


.about-section {
    @include section($color-light-x);
}

.about-section__container {
    display: flex;
    justify-content: center;
    column-gap: 120px;
    align-items: center;
    flex-wrap: wrap-reverse;
    row-gap: 80px;
    @media (width < $mobile-breakpoint) {
        row-gap: 42px;
    }
}

.about-content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-width: 430px;
}

.friends-section {
    @include section($color-light);
    .section-header {
        text-align: center;
    }
}

.friends-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    @media (width < $mobile-breakpoint) {
        row-gap: 42px;
    }
}

.slider {
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    // column-gap: 53px;

    @media (width < $mobile-breakpoint) {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 80px;
        .slider__window {
            flex-basis: 100%;
            order: -1;
        }
    }
}

.slider__window {
    flex: 1;
    container: slider-window / inline-size;
}

.slider__row {
    display: flex;
    justify-content: space-around;
    // column-gap: 90px;

    > :last-child {
        @container (inline-size < 850px) {
            display: none;
        }
    }
    
    > :nth-last-child(2) {
        @container (inline-size < 570px) {
            display: none;
        }
    }
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    border-radius: 9px;
    transition: 
        background-color $transition-time,
        box-shadow $transition-time
    ;
    &:hover {
        background-color: $color-light-x;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }

    &:hover .button_hollow {
        background-color: $special-color_light;
        box-shadow: none;
    }
    &:active .button_hollow {
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 2px $special-color;
    }
}

.pet-card__name {
    font: 20px/23px Georgia;
    letter-spacing: 0.06em;
    text-align: center;
}

.help-section {
    @include section($color-light-x);
}

.help-section__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @media (width < $mobile-breakpoint) {
        row-gap: 42px;
    }
    align-items: center;
    .section-header {
        text-align: center;
    }
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;

    @media (width <= 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;

        @media (width < 540px) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
            column-gap: 35px;
        }
    }
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
    justify-content: space-between;

    @media (width < $mobile-breakpoint) {
        height: auto;
        row-gap: 20px;

        img {
            height: 50px;
        }

        .third-header {
            font: 15px/17px Georgia;
            letter-spacing: 0.06em;
            text-align: center;
        }
    }
}

.donation-section {
    @include section($color-light)
}

.donation-section__container {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    row-gap: 60px;
    @media (width < $mobile-breakpoint) {
        row-gap: 42px;
    }
}

.donation-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    @media (width < $mobile-breakpoint) {
        align-items: center;
    }

    @media (width < $mobile-breakpoint) {
        .info-font {
            font: 15px/17px Georgia;
            text-align: left;
        }
    }
}

.donation-img, 
.about-img {
    width: min(81.25vw, 505px);
}

.bank-account {
    padding: 10px 15px;
    display: flex;
    column-gap: 15px;
    background-color: $special-color;
    border-radius: 9px;

    &:hover {
        background-color: $special-color_light;
    }
    &:active {
        background-color: #FFFFFF;
    }
}

.footer {
    @include section(
        url("../assets/images/noise_transparent.png"), 
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
        #211F20)
    ;
    padding-top: 30px !important;
    padding-bottom: 0 !important;
    color: $special-color;
    .section-header {
        color: $color-light-x;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    @media (width >= $mobile-breakpoint) {
        row-gap: 25px;
    }
    column-gap: 20px;
    
    @media (width < 987px) {
        flex-wrap: wrap;
        > * {
            margin-right: auto;
            margin-left: auto;
        }
        .footer-content {
            max-width: none;
            @media (width >= $mobile-breakpoint) {
                padding-right: 34px;
                padding-left: 34px;
            }
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;
            > * {
                margin: 0 auto;
            }
        }
    }
}

.footer-img {
    margin-top: 10px;
    flex: 1 260px;
    max-width: 300px;
    height: min(86.77vw, 310px);
    background: 
        url("../assets/images/footer-puppy.png")
        bottom right / contain
        no-repeat
    ;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    max-width: 740px;
    flex: 1 640px;
    margin-bottom: 30px;
}

.footer-subsection {
    // height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 43px;
}

.footer-item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &:hover {
        color: $special-color_light;
    }
    &:active {
        color: #FFFFFF;
    }
}


// Our Pets page
.all-pets-section {
    @include section($color-light);
    @media (width < 780px) {
        padding-bottom: 76px;
    }
}

.all-pets-section__container {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @media (width < 780px) {
        row-gap: 30px;
        .page > :nth-last-child(-n + 2) {
            display: none;
        }
        .page {
            margin-bottom: 10px;
        }

        @media (width < $mobile-breakpoint) {
            .page > :nth-last-child(-n + 5) {
                display: none;
            }
        }
    }
    align-items: center;
    .section-header {
        text-align: center;
    }
}

.page {
    display: flex;
    gap: 30px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-controls {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
// ---------

// Text styles

.main-header {
    font: 44px/57px Georgia;
    @media (width < $mobile-breakpoint) {
        font: 25px/32.5px Georgia;
        letter-spacing: 0.06em;
        text-align: center;
    }
}

.section-header {
    font: 35px/45px Georgia;
    letter-spacing: 0.06em;
    @media (width < $mobile-breakpoint) {
        font: 25px/32px Georgia;
        text-align: center;
    }
}

.third-header {
    font: 20px/23px Georgia;
    letter-spacing: 0.06em;
    text-align: center;
}

.bank-name {
    font: 15px/17px Georgia;
    letter-spacing: 0.06em;
    @media (width < $mobile-breakpoint) {
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.info-font {
    font: 20px/23px Georgia;
    letter-spacing: 0.06em;
}

.legal-info {
    max-width: 380px;
    font: italic 12px/18px Arial;
    color: #B2B2B2;
    @media (width < $mobile-breakpoint) {
        text-align: justify;
    }
}

%paragraph-l {
    font: 15px/24px Arial;
    @media (width < $mobile-breakpoint) {
        text-align: justify;
        padding: 0 15px;
    }
}

.paragraph-l {
    @extend %paragraph-l;
}


// Buttons

%button {
    padding: 15px 45px;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #292929;
    border-radius: 100px;

    font: 17px/22px Georgia;
    letter-spacing: 0.06em;
    text-decoration: none;

    transition: 
        background-color $transition-time,
        transform 0.1s;
    &:hover {
        background-color: $special-color_light;
    }
}

.button_filled {
    @extend %button;
    background-color: $special-color;
    &:active {
        background-color: #FFFFFF;
    }
}

.button_hollow {
    @extend %button;
    &:hover {
        box-shadow: none;
    }
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px $special-color;
    &:active {
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 2px $special-color;
    }
    &.button_hollow_inactive {
        color: #CDCDCD;
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 2px #CDCDCD;
    }
}

.circle-button {
    padding: 0;
    height: 52px;
    width: 52px;
}