* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}
html body {
  color: #545454;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html body .footer {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  height: 90px;
  position: absolute;
  top: 0;
  width: 100%;
  color: #FFFFFF;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
@media (width < 768px) {
  .header__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__container .nav {
    display: none;
  }
  .header__container::after {
    content: url("../assets/icons/burger.svg");
    margin-bottom: 19px;
    align-self: flex-end;
  }
}

.logo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: end;
}
.logo:hover .logo__title, .logo:hover .logo__subtitle {
  transition: 0.3s;
  color: #FDDCC4;
}
.logo:active .logo__title, .logo:active .logo__subtitle {
  color: #FFFFFF;
}

.logo__title {
  font: 32px/35px Georgia;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  font: 13px/15px Arial;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  gap: 35px;
  align-items: end;
  padding-bottom: 17px;
}

.nav__item {
  color: #CDCDCD;
  border-bottom: 3px solid transparent;
  transition: color 0.3s, border-bottom-color 0.3s;
}
.nav__item:hover {
  color: #FAFAFA;
}
.nav__item:active {
  border-bottom-color: #F1CDB3;
}

.nav__item_active {
  color: #FAFAFA;
  transition: none;
  border-bottom-color: #F1CDB3;
}

.pets .header {
  height: 120px;
  padding-bottom: 30px;
  position: static;
}
.pets .logo__title,
.pets .nav__item {
  color: #545454;
}
.pets .logo__subtitle,
.pets .nav__item:hover,
.pets .nav__item_active {
  color: #292929;
}
.pets .logo:hover .logo__title,
.pets .logo:hover .logo__subtitle {
  transition: 0.3s;
  color: #F1CDB3;
}
.pets .logo:active .logo__title,
.pets .logo:active .logo__subtitle {
  color: #1A1A1C;
}

.start-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: url("../assets/images/noise_transparent.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  min-height: 908px;
  padding-bottom: 0;
  padding-top: 90px;
  color: #FFFFFF;
}

.intro {
  -moz-column-gap: 40px;
       column-gap: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-top: 60px;
}
@media (width < 1023px) {
  .intro .button_filled {
    align-self: center;
  }
}

.intro__content {
  align-self: center;
  max-width: 460px;
  flex: 1 310px;
  margin: 0 auto 60px auto;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
}
@media (width < 426px) {
  .intro__content {
    text-align: center;
  }
}

.intro__img {
  margin-top: 30px;
  min-height: 593px;
  flex: 1 593px;
  background: url("../assets/images/start-screen-puppy.png") bottom right/contain no-repeat;
}
@media (width < 426px) {
  .intro__img {
    min-height: 271.77px;
  }
}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: #FFFFFF;
}

.about-section__container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 80px;
}

.about-content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 430px;
}

.friends-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: #F6F6F6;
}
.friends-section .section-header {
  text-align: center;
}

.friends-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.slider {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.slider__window {
  flex: 1;
  container: slider-window/inline-size;
}

.slider__row {
  display: flex;
  justify-content: space-around;
}
@container (inline-size < 850px) {
  .slider__row > :last-child {
    display: none;
  }
}
@container (inline-size < 570px) {
  .slider__row > :nth-last-child(2) {
    display: none;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.pet-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}
.pet-card:hover .button_hollow {
  background-color: #FDDCC4;
  box-shadow: none;
}
.pet-card:active .button_hollow {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #F1CDB3;
}

.pet-card__name {
  font: 20px/23px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
}

.help-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: #FFFFFF;
}

.help-section__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
}
.help-section__container .section-header {
  text-align: center;
}

.help-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
}
@media (width <= 768px) {
  .help-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (width <= 768px) and (width < 540px) {
  .help-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
  justify-content: space-between;
}

.donation-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: #F6F6F6;
}

.donation-section__container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  row-gap: 60px;
}

.donation-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.donation-img {
  width: min(81.25vw, 505px);
}

.bank-account {
  padding: 10px 15px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}
.bank-account:hover {
  background-color: #FDDCC4;
}
.bank-account:active {
  background-color: #FFFFFF;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: url("../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 30px;
  padding-bottom: 0;
  color: #F1CDB3;
}
.footer .section-header {
  color: #FFFFFF;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  row-gap: 25px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (width < 987px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__container > * {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__container .footer-content {
    max-width: none;
    padding-right: 34px;
    padding-left: 34px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }
  .footer__container .footer-content > * {
    margin: 0 auto;
  }
}

.footer-img {
  margin-top: 10px;
  flex: 1 260px;
  max-width: 300px;
  height: min(86.77vw, 310px);
  background: url("../assets/images/footer-puppy.png") bottom right/contain no-repeat;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
  max-width: 740px;
  flex: 1 640px;
  margin-bottom: 30px;
}

.footer-subsection {
  height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-item:hover {
  color: #FDDCC4;
}
.footer-item:active {
  color: #FFFFFF;
}

.all-pets-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 80px clamp(10px, 3.90625%, 40px) 100px clamp(10px, 3.90625%, 40px);
  justify-content: center;
  background: #F6F6F6;
}

.all-pets-section__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
}
.all-pets-section__container .section-header {
  text-align: center;
}

.page {
  display: flex;
  gap: 30px 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.page-controls {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}

.main-header {
  font: 44px/57px Georgia;
}
@media (width < 426px) {
  .main-header {
    font: 25px/32px Georgia;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.section-header {
  font: 35px/45px Georgia;
  letter-spacing: 0.06em;
}

.third-header {
  font: 20px/23px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
}

.bank-name {
  font: 15px/17px Georgia;
  letter-spacing: 0.06em;
}

.info-font {
  font: 20px/23px Georgia;
  letter-spacing: 0.06em;
}

.legal-info {
  max-width: 380px;
  font: italic 12px/18px Arial;
  color: #B2B2B2;
}

.paragraph-l, .nav__item {
  font: 15px/24px Arial;
}

.button_hollow, .button_filled {
  padding: 15px 45px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  border-radius: 100px;
  font: 17px/22px Georgia;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.1s;
}
.button_hollow:hover, .button_filled:hover {
  background-color: #FDDCC4;
}

.button_filled {
  background-color: #F1CDB3;
}
.button_filled:active {
  background-color: #FFFFFF;
}

.button_hollow {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #F1CDB3;
}
.button_hollow:hover {
  box-shadow: none;
}
.button_hollow:active {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #F1CDB3;
}
.button_hollow.button_hollow_inactive {
  color: #CDCDCD;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px #CDCDCD;
}

.circle-button {
  padding: 0;
  height: 52px;
  width: 52px;
}/*# sourceMappingURL=style.css.map */